<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.einblatt.mryce.mapper.AppUserMapper">
  <resultMap id="BaseResultMap" type="cn.einblatt.mryce.pojo.AppUser">
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="channel_num" jdbcType="VARCHAR" property="channelNum" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="register_ip" jdbcType="VARCHAR" property="registerIp" />
    <result column="account_status" jdbcType="CHAR" property="accountStatus" />
    <result column="login_status" jdbcType="CHAR" property="loginStatus" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="bank_account_no" jdbcType="VARCHAR" property="bankAccountNo" />
    <result column="info_auth_status" jdbcType="VARCHAR" property="infoAuthStatus" />
    <result column="last_login_time" jdbcType="VARCHAR" property="lastLoginTime" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
  </resultMap>
  <insert id="insert" parameterType="cn.einblatt.mryce.pojo.AppUser">
    insert into app_user (phone, user_name, channel_num, 
      channel_id, register_ip, account_status, 
      login_status, branch_name, bank_account_no, 
      info_auth_status, last_login_time, frequency
      )
    values (#{phone,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{channelNum,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=VARCHAR}, #{registerIp,jdbcType=VARCHAR}, #{accountStatus,jdbcType=CHAR}, 
      #{loginStatus,jdbcType=CHAR}, #{branchName,jdbcType=VARCHAR}, #{bankAccountNo,jdbcType=VARCHAR}, 
      #{infoAuthStatus,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=VARCHAR}, #{frequency,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.einblatt.mryce.pojo.AppUser">
    insert into app_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="channelNum != null">
        channel_num,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="registerIp != null">
        register_ip,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
      <if test="loginStatus != null">
        login_status,
      </if>
      <if test="branchName != null">
        branch_name,
      </if>
      <if test="bankAccountNo != null">
        bank_account_no,
      </if>
      <if test="infoAuthStatus != null">
        info_auth_status,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="channelNum != null">
        #{channelNum,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null">
        #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=CHAR},
      </if>
      <if test="loginStatus != null">
        #{loginStatus,jdbcType=CHAR},
      </if>
      <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountNo != null">
        #{bankAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="infoAuthStatus != null">
        #{infoAuthStatus,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="cn.einblatt.mryce.pojo.AppUser">
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="channel_num" jdbcType="VARCHAR" property="channelNum" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="register_ip" jdbcType="VARCHAR" property="registerIp" />
    <result column="account_status" jdbcType="CHAR" property="accountStatus" />
    <result column="login_status" jdbcType="CHAR" property="loginStatus" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="bank_account_no" jdbcType="VARCHAR" property="bankAccountNo" />
    <result column="info_auth_status" jdbcType="VARCHAR" property="infoAuthStatus" />
    <result column="last_login_time" jdbcType="VARCHAR" property="lastLoginTime" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
  </resultMap>
  <insert id="insert" parameterType="cn.einblatt.mryce.pojo.AppUser">
    insert into app_user (phone, user_name, channel_num, 
      channel_id, register_ip, account_status, 
      login_status, branch_name, bank_account_no, 
      info_auth_status, last_login_time, frequency
      )
    values (#{phone,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{channelNum,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=VARCHAR}, #{registerIp,jdbcType=VARCHAR}, #{accountStatus,jdbcType=CHAR}, 
      #{loginStatus,jdbcType=CHAR}, #{branchName,jdbcType=VARCHAR}, #{bankAccountNo,jdbcType=VARCHAR}, 
      #{infoAuthStatus,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=VARCHAR}, #{frequency,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.einblatt.mryce.pojo.AppUser">
    insert into app_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="channelNum != null">
        channel_num,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="registerIp != null">
        register_ip,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
      <if test="loginStatus != null">
        login_status,
      </if>
      <if test="branchName != null">
        branch_name,
      </if>
      <if test="bankAccountNo != null">
        bank_account_no,
      </if>
      <if test="infoAuthStatus != null">
        info_auth_status,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="channelNum != null">
        #{channelNum,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null">
        #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=CHAR},
      </if>
      <if test="loginStatus != null">
        #{loginStatus,jdbcType=CHAR},
      </if>
      <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountNo != null">
        #{bankAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="infoAuthStatus != null">
        #{infoAuthStatus,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>